<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PhuninNode Test Suite">
            <directory>tests/PhuninNode/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib/PhuninNode/</directory>
        </whitelist>
    </filter>
</phpunit>